<div class="header-wrapper">
    <header class="site-header">
        <div class="container-fluid">
            <div class="align-items-center d-flex justify-content-between">
                <div class="header-logo">
                    <a class="logo" href="#" title="Welcome to SOW">
                        <img class="site-header__logo-link-primary" src="{{'logo.png' | asset_url }}" width="140" height="52" alt="Hello she only wears">
                    </a>
                </div>

                <div class="header-menu">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <!-- Container wrapper -->
                        <div class="container-fluid">
                          <!-- Toggle button -->
                          <button class="navbar-toggler px-0" type="button" data-mdb-toggle="collapse"
                            data-mdb-target="#navbarExample1" aria-controls="navbarExample1" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <i class="fas fa-bars"></i>
                          </button>
                      
                          <!-- Collapsible wrapper -->
                          <div class="collapse navbar-collapse" id="navbarExample1">
                            <!-- Left links -->
                            <ul class="navbar-nav me-auto ps-lg-0" style="padding-left: 0.15rem">
                              <li class="nav-item">
                                <a class="nav-link" href="#">Regular link</a>
                              </li>
                              <!-- Navbar dropdown -->
                              <li class="nav-item dropdown position-static">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                  data-mdb-toggle="dropdown" aria-expanded="false">
                                  Mega menu
                                </a>
                                <!-- Dropdown menu -->
                                <div class="dropdown-menu w-100 mt-0" aria-labelledby="navbarDropdown" style="
                                                border-top-left-radius: 0;
                                                border-top-right-radius: 0;
                                              ">
                                  <div class="container">
                                    <div class="row my-4">
                                      <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                                        <div class="list-group list-group-flush">
                                          <a href="" class="list-group-item list-group-item-action">Lorem ipsum</a>
                                          <a href="" class="list-group-item list-group-item-action">Dolor sit</a>
                                          <a href="" class="list-group-item list-group-item-action">Amet consectetur</a>
                                          <a href="" class="list-group-item list-group-item-action">Cras justo odio</a>
                                          <a href="" class="list-group-item list-group-item-action">Adipisicing elit</a>
                                        </div>
                                      </div>
                                      <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                                        <div class="list-group list-group-flush">
                                          <a href="" class="list-group-item list-group-item-action">Explicabo voluptas</a>
                                          <a href="" class="list-group-item list-group-item-action">Perspiciatis quo</a>
                                          <a href="" class="list-group-item list-group-item-action">Cras justo odio</a>
                                          <a href="" class="list-group-item list-group-item-action">Laudantium maiores</a>
                                          <a href="" class="list-group-item list-group-item-action">Provident dolor</a>
                                        </div>
                                      </div>
                                      <div class="col-md-6 col-lg-3 mb-3 mb-md-0">
                                        <div class="list-group list-group-flush">
                                          <a href="" class="list-group-item list-group-item-action">Iste quaerato</a>
                                          <a href="" class="list-group-item list-group-item-action">Cras justo odio</a>
                                          <a href="" class="list-group-item list-group-item-action">Est iure</a>
                                          <a href="" class="list-group-item list-group-item-action">Praesentium</a>
                                          <a href="" class="list-group-item list-group-item-action">Laboriosam</a>
                                        </div>
                                      </div>
                                      <div class="col-md-6 col-lg-3">
                                        <div class="list-group list-group-flush">
                                          <a href="" class="list-group-item list-group-item-action">Cras justo odio</a>
                                          <a href="" class="list-group-item list-group-item-action">Saepe</a>
                                          <a href="" class="list-group-item list-group-item-action">Vel alias</a>
                                          <a href="" class="list-group-item list-group-item-action">Sunt doloribus</a>
                                          <a href="" class="list-group-item list-group-item-action">Cum dolores</a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ul>
                            <!-- Left links -->
                          </div>
                          <!-- Collapsible wrapper -->
                        </div>
                        <!-- Container wrapper -->
                      </nav>
                </div>

                <div class="d-flex align-items-center header-right-icons">
                    <div class="header-search">
                        <a href="#" class="search-header">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.77318 0.499878C11.7912 0.499878 15.0462 3.79888 15.0462 7.86788C15.0462 11.9369 11.7912 15.2359 7.77318 15.2359C3.75618 15.2359 0.500183 11.9369 0.500183 7.86788C0.500183 3.79888 3.75618 0.499878 7.77318 0.499878" stroke="#231F20"></path>
                                <path d="M12.8728 13.12L19.0218 18.799" stroke="#231F20"></path>
                            </svg>                   
                        </a>
                    </div>
                    <div class="header-account">
                        <a class="account-header" href="#">
                            <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.2776 5.08749C13.2776 7.62149 11.2236 9.67549 8.6906 9.67549C6.1566 9.67549 4.1026 7.62149 4.1026 5.08749C4.1026 2.55349 6.1566 0.500488 8.6906 0.500488C11.2236 0.500488 13.2776 2.55349 13.2776 5.08749Z" stroke="#231F20"></path>
                                <path d="M8.69062 9.83557C15.3586 9.83557 17.4846 17.3506 16.7386 18.7896C16.4686 19.3096 15.9136 19.3636 15.4626 19.3816H1.91762C1.46662 19.3636 0.911618 19.3096 0.641618 18.7896C-0.104382 17.3506 2.02162 9.83557 8.69062 9.83557" stroke="#231F20"></path>
                            </svg>            
                        </a>
                        <div class="account-dropdown" style="display: none;">
                            <ul class="account-dropdown-list">
                                <li class="item"><a href="#" title="login">login</a></li>
                                <li class="item"><a href="#" title="sign up">sign up</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="minicart">
                        <a href="#" class="cart-icon" aria-controls="CartDrawer" data-icon="bag" aria-expanded="false">
                            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <defs>
                                    <style>
                                    .cls-1 {
                                        fill: #f7b6ce !important;
                                    }
                                    
                                    .cls-2 {
                                        fill: #010101 !important;
                                    }
                                    </style>
                                </defs>
                                <g>
                                    <rect class="cls-1" x="3.42" y="7.37" width="17.17" height="14.17"></rect>
                                    <path class="cls-2" d="M20.17,7.78v13.33H3.83V7.78H20.17m.83-.83H3v15H21V6.95h0Z" style="fill: rgb(255, 255, 255);"></path>
                                </g>
                                <path class="cls-2" d="M16.9,6.95h-.8c0-2.26-1.84-4.1-4.1-4.1s-4.1,1.84-4.1,4.1h-.8c0-2.7,2.2-4.9,4.9-4.9s4.9,2.2,4.9,4.9Z" style="fill: rgb(255, 255, 255);"></path>
                            </svg>
                        </a>
                    </div>
                </div>                
            </div>
            <div class="search-dropdown" style="display: none;">
                search result
            </div>     
        </div>
    </header>
</div>