{% comment %} Main banner start {% endcomment %}

<section class="main-banner__wrapper">
    <a href="{{ section.settings.link }}" title="Banner">
        {% if section.settings.deskimg != blank %}
            <img src="{{ section.settings.deskimg | img_url: 'master'}}" width="1780" height="890" alt="Banner image" class="desk-banner">
        {% endif %}
        {% if section.settings.mobimg != blank %}
            <img src="{{ section.settings.mobimg | img_url: 'master'}}" width="660" height="660" alt="Banner image" class="mobile-banner">
        {% endif %}
    </a>
</section>

{% comment %} Main banner end {% endcomment %}

{% schema %}
  {
    "name": "Banner",
    "settings": [
      {
         "type": "image_picker",
         "id": "deskimg",
         "label": "Desktop banner image"
       },
      {
         "type": "image_picker",
         "id": "mobimg",
         "label": "Mobile banner image"
       },
            {
          "type": "url",
          "id": "link",
          "label": "Banner url"
        }
    ],
    "presets": [
      {
        "name": "Banner"
      }
    ]
  }
{% endschema %}